{% comment %}
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">

<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/assets/js/sidebar-folder.js"></script>

<!-- MathJax 초기화를 제어하는 스크립트 추가 -->
<script type="text/javascript">
    if (typeof MathJax === "undefined") {
      window.MathJax = {
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true,
          processEnvironments: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      };
  
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://cdn.jsdelivr.net/npm/mathjax@2.7.7/MathJax.js?config=TeX-MML-AM_CHTML";
      script.onload = function() {
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
      };
      document.getElementsByTagName("head")[0].appendChild(script);
    } else {
      MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    }
  </script>
  
{% endcomment %}
